# Logs
logs/
*.log
npm-debug.log*

# IDE & editors
.idea
.vscode

# Dependency directory
node_modules/

# Compiled and temporary files
.eslintcache
.tmp/
out/
build/
target/

# Other files
Cargo.lock
package-lock.json
yarn.lock
